#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.battleship-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.battleship-game {
  display: flex;
  flex-direction: row;
  gap: 100px;
}

.battleship-player, .battleship-cpu {
  display: flex;
  flex-direction: column;
}

.column {
  display: flex;
  flex-direction: row;
}

.cell {
  height: 30px;
  width: 30px;
  border: 1px solid #000;
}

.hit {
  background-color: red
}

.miss {
  background-color: gray;
}

.revealed {
  border: 1px solid green;
}